html {
  margin: 0;
}

/* Typography */

body {
  max-width: 90%;
  font-family: arial, sans-serif;

}

h1 {

}


/* Layout */

.team {
  display: block;
}

.col {
  margin: 25px;
}





/* Buttons */

.btns {
  display: flex;
}

.btn {
  padding: 15px 35px;
  margin: 10px;
  text-decoration: none;
  background-color: teal;
  color: darkorange;


}
